<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Project</title>
</head>
<body>
<H1>Simply Recipes</H1>

<div th:each="recipe : ${recipes}">

    <h2 th:text="${recipe.title}"></h2>
    <p th:text="${recipe.getDescription()}"></p>

    <div style="overflow: hidden;" >
        <div th:each="category : ${recipe.getCategories()}">
            <div style="float: left;">
                <span th:text="${category.getDescription()}"></span> &nbsp;
            </div>
        </div>
    </div>

    <h3>Ingredients</h3>

    <table >
        <tr th:each="ingredient : ${recipe.getIngredients()}">
            <!-- <td th:text="${ingredient.getId()}">a</td> -->
            <td th:text="${ingredient.getAmount()}">d</td>
            <td th:if="${ingredient.getUom()}" != null ? th:text="${ingredient.getUom().getUom()}"></td>
            <td th:text="${ingredient.getDescription()}">v</td>
        </tr>
    </table>

    <p th:text="${recipe.getNotes().getRecipeNotes()}"></p>

</div>

</body>
</html>